<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo">
                    <a class="h2 mb-0" href="#home-section">
                        Cloud9
                    </a>
                </h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a class="nav-link" href="#home-section">Home</a></li>
                        <li><a class="nav-link" href="#trackApplication-section">Track Application</a></li>
                        <li><a class="nav-link" href="#applyLoan-section">Apply Loan</a></li>
                        <li><a class="nav-link" href="#team-section">Team</a></li>
                        <li><a class="nav-link" href="/logout">
                            <p class="text-danger">Logout</p></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;">
                <a class="icon-menu h3" href="#"></a>
            </div>
        </div>
    </div>
</header>