<section class="site-section border-bottom" id="team-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="" style="color:#44A08D;">Meet
                    Team</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
                <div class="team-member">
                    <figure>
                        <img alt="Image" class="img-fluid" src="{{ url_for('static', filename='images/Nikunj.jpeg') }}">
                    </figure>
                    <div class="p-3">
                        <h3>Nkunj Goenka</h3>
                        <span class="position">Full stack developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <figure>
                        <img alt="Image" class="img-fluid" src="{{ url_for('static', filename='images/K.jpg') }}">
                    </figure>
                    <div class="p-3">
                        <h3>Kethan Kumar</h3>
                        <span class="position">Full stack developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <figure>
                        <img alt="Image" class="img-fluid" src="{{ url_for('static', filename='images/R.jpg') }}">
                    </figure>
                    <div class="p-3">
                        <h3>Rashmi Chandy</h3>
                        <span class="position">Full stack developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>